<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary"> {{ index + 1 }}. </span>
      <span class="article-source-name">{{ article.source.name }}</span>
      <div class="article-more">
        <ion-button fill="clear" (click)="showMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title (click)="openArticle()">{{ article.title }}</ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="article.urlToImage" (click)="openArticle()" class="animated fadeIn fast" [src]="article.urlToImage">
  </ion-img>
  <ion-card-content>
    <p>
      {{ article.description }}
    </p>
  </ion-card-content>
</ion-card>